.overview {
    width: 160px;
    height: 125px;
    float: right;
}

.chart {
    width: 800px;
    height: 600px;
    float: left;
    margin-bottom: 40px;
}

.reset-zoom {
    float: right;
    clear: right;
    margin-top: 20px;
}

.chart-title {
    text-align: center;
    clear: both;
}

.axisLabels {
    font-size: 20px;
}