/*
  Author: Gasper Chan & Tony Huang
  Group: Team Stimulus
  Created At: 3/14/15

  CSS for the Groups tab

*/

body {
  background: #EFEFEF;
}

* {
  color: #444;
}

.group {
  background: #0F0;
  height: 300px;
  text-align: center;
  /*padding: 10px !important;*/
}

.pic-box {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  background: #00F;
  width: 100%;
}

.stats-box {
  background: #F00;
  height: 50px;
  width: 100%;
  position: relative;
}

.stats-box * {
  position: absolute;
  display: inline-block;
}

.group-name {
  left: 0;
}

.stats-mean, .stats-stdev,  {
  right: 0;
}

.stats-mean {

}

.image {
  width: 100px;
  margin: 5px;
}

.image:hover {
  cursor: move;
}

.container {
  max-width: 1024px;

}

.col-md-3, .col-md-1, .col-md-12, .col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
  max-width:100%;
}