/*
  Author: Gasper Chan & Tony Huang
  Group: Team Stimulus
  Created At: 3/14/15

  CSS for the Groups tab

*/

#nav {
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.20);
}

footer {
  height: 100px;
}

* {
  color: #444;
}

body {
  background-color: #DDD;
}

.pic-info {
  background: #EFEFEF;
  text-align: middle;
  width: 100px;
}

.group {
  height: 300px;
  text-align: center;
  padding: 10px 5px !important;
}

.inner-group, .pic-container {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
  border-radius: 2px;
}

.pic-box {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  background: #FFF;
  width: 100%;
}

.stats-box, .unsorted-header {
  background: #EEE;
  height: 40px;
  width: 100%;
  padding: 1px 10px 0px 10px;
}

.unsorted-group .unsorted-header, .sorted-group .pic-box {
  border-radius: 2px 2px 0 0;
}

.unsorted-group .pic-box, .sorted-group .stats-box, .pic-info {
  border-radius: 0 0 2px 2px;
}

.group-name {
  margin-top: 8px;
  float: left;
}

.stats {
  float: right;
  text-align: right;
}

.pic-container {
  z-index: 999;
  float: left;
  display: inline-block;
  width: 100px;
  margin: 5px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
}

.pic-image {
  width: 100px;
}

.pic-image:hover {
  cursor: move;
}

.container {
  max-width: 1024px;
}


