/*
  Author: Gasper Chan & Tony Huang
  Group: Team Stimulus
  Created At: 3/14/15

  CSS for the Groups tab

*/

* {
  color: #444;
}

.group {
  border: 1px solid black;
  height: 300px;
  text-align: center;
  padding: 4px;
}

.unsorted, .pic-box {
  overflow-y: auto;
  overflow-x: hidden;
}

.pic-box {
  height: 249px;
  width: 100%;
  border-bottom: 1px solid black;
}

.stats-box {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #999;
}

.group-name {
  margin-left: 4px;
  float: left;
}

.stats {
  float: right;
  text-align: right;
}

.mean, .stdev {
  float: right;
}

.image {
  width: 100px;
  margin: 5px;
}

.image:hover {
  cursor: move;
}

.container {
  max-width: 1024px;
}

.row {
  background-color: white;
}

.col-md-3, .col-md-1, .col-md-12, .col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
  max-width:100%;
}