/*
  Author: Kevin Yang
  Group: Team Stimulus
  Created At: 3/15/15

  CSS for the tabs at the top of the web app

  All code in this file was authored by Kevin Yang
*/

.course-button {
  float: right;
}

.container {
  margin-top: 60px;
}

#ratings-file, #picture-directory {
  padding-top: 8px;
}

.navItem {
  cursor: pointer;
}

.exportGraph {
    display: none;
}

.export-pics {
  margin-left: -8px;
  display: inline-block;
}

.export-msg {
  margin-left: 8px;
  position: absolute;
  padding-top: 7px;
  display: inline-block;
  color: green;
}