<form id="input-form" class="form-horizontal col-sm-12">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="pictureDirectory">Picture Directory:</label>
    <div class="col-sm-3">
      <input id="picture-directory" type="file">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ratingFile">Ratings File: <a href="#" onclick="window.open('ratings_info.html','name','width=370,height=500')">(?)</a></label>
    <div class="col-sm-9">
      <input id="ratings-file" type="file">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="numGroups">Number of Groups:</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="num-groups" type="text" length="2">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="picsPerGroup">Number of Pictures per Group:</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="pics-per-group" type="text" length="2">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ratingPerGroup">Average Rating per Group:</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="rating-per-group" type="text" length="10">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
      <a class="btn btn-primary" id="submit" type="submit" href="graphs.html">Submit</a>
    </div>
  </div>
</form>